@charset "utf-8";
/* CSS Document */
.solvvy_modal_overlay {
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: rgba(63,86,92,0.7);
  position: fixed;
  z-index: 1040;
}
.solvvy_widget {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#solvvy_left {
    z-index: 1042;
    top:10%;
    background-color: transparent;
    position: fixed;
    left: -764px;
}
#solvvy_float_widget { 
  border-radius:5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 12px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 5px 12px rgba(0,0,0,0.33);
  box-shadow: 0px 5px 12px rgba(0,0,0,0.33);
  background: #23a3c7; /* Old browsers */
  background: -moz-linear-gradient(top,  #23a3c7 0%, #23a3c7 41%, #208bcb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23a3c7), color-stop(41%,#23a3c7), color-stop(100%,#208bcb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #23a3c7 0%,#23a3c7 41%,#208bcb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #23a3c7 0%,#23a3c7 41%,#208bcb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #23a3c7 0%,#23a3c7 41%,#208bcb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #23a3c7 0%,#23a3c7 41%,#208bcb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a3c7', endColorstr='#208bcb',GradientType=0 ); /* IE6-9 */

}
#solvvy_float_widget.solvvy_expanded { width: 724px; height:628px; }
#solvvy_float_widget.solvvy_expanded .solvvy_query:hover{background:#d3f5ff;color:#000;}
#solvvy_float_widget.solvvy_expanded .solvvy_query:active{
  background:#23a3c7;
  color: rgba(255,255,255,1);

}
#solvvy_float_widget.solvvy_expanded .tt-input:hover{
  background:#fff !important;
  color:#23a3c7;
}

#solvvy_float_widget .solvvy_header {
  font-size: 18px;
  color: rgba(255,255,255,1);
  padding: 10px 10px 10px 20px;
}

#left_arrow{
  position: absolute;
  right: -40px;
  margin-top: -35px;
}

#search_solvvy{
  color: #23a3c7;
  z-index: 1;
  display: inline-block;
  float: left;
  margin: 10px 10px 10px 20px;
  width:20px;
}

#solvvy_float_widget .solvvy_collapse,
#solvvy_float_widget .solvvy_expand {
  float: right;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: none;
  /*margin-right: -20px;*/
  height: auto;
  
}

#solvvy_float_widget .solvvy_collapse:hover,
#solvvy_float_widget .solvvy_expand:hover{
  text-decoration: none;
}

#solvvy_float_widget form {
  background-color: white;
  margin: 0;
  width: 100%;
  position:relative;
}

#solvvy_float_widget .solvvy_query {
  font-size: 15px;
  padding:10px 50px;
  line-height: 1.5em;
  text-decoration: none;
  color: rgba(0,0,0,1);
  display: block;
  width: 86%;
}

#solvvy_float_widget #solvvy_input_search{
  width:100%; 
  overflow:hidden;
  text-overflow:ellipsis;
  font-size: 15px;
  padding: 5px 0px;
  border: none;
  background: #fff;
  line-height: 1.5em;
  outline: none;
  text-decoration: none;
  color: black;
  display: block;
  height: 40px;
}
#solvvy_float_widget .solvvy_results_onshow #search_solvvy {
  display: none;
}
#solvvy_float_widget .solvvy_results_onshow .twitter-typeahead {
  margin-left: 20px;
}
#solvvy_float_widget .solvvy_results_onshow #solvvy_input_search {
  font-size: 30px;
  font-weight: bold;
  color: rgba(0,175,225,1) !important;
}

#solvvy_float_widget input{
    font-size: 24px;
    padding: 10px;
    
    color: red;
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}
#solvvy_float_widget input::-webkit-input-placeholder{
    color:
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

#solvvy_float_widget #solvvy_input_search:hover{
  color:#000 !important;
  background:#fff;
}

#most_popular {
  padding:10px; 
  background:#f2f2f2; 
  color:#00b0e2;
  text-align: center;;
}
#solvvy_float_widget .solvvy_results_wrapper {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  min-height:500px;
}

.solvvy_noresult {
  padding: 15px;
  margin: 15px;
}

#solvvy_float_widget .solvvy_content .solvvy_keyword {
  font-weight: 700;
  color:#23a3c7;
}

#solvvy_float_widget .solvvy_content .sanitized {
  white-space: pre-wrap;
}

.solvvy_widget .solvvy_result {
  padding: 20px 10px 15px 35px;
  /* margin: 15px 0 15px 15px; */
  clear: both;
  width: 679px;
  float: left;
}
.solvvy_widget .solvvy_result:nth-child(even) {
  background: #fff;
}
.solvvy_widget .solvvy_result:nth-child(odd) {
  background: #fbfbfb !important;
}

.solvvy_widget .solvvy_result a {
  text-decoration: none;
  color:#000;
}
.solvvy_widget .solvvy_result a:hover, .solvvy_widget .solvvy_result a.active{
  color:#23a2c7;
}

.solvvy_widget .solvvy_result-body {
  /*position: relative;*/
}

.solvvy_widget .solvvy_content {
  font-size: 15px;
  /*white-space: pre-wrap;*/
  text-align:justify;
  padding-top: 10px;
  line-height: 21px;
  /*padding-right:120px;*/
}

.solvvy_widget .solvvy_content a,
.solvvy_widget .solvvy_content a:link,
.solvvy_widget .solvvy_content a:hover,
.solvvy_widget .solvvy_content a:visited {
  color: black;
}



.solvvy_widget .solvvy_title .breadcrumb .nosubtitle div {
    max-width: 452px;
}
.solvvy_widget .solvvy_title .breadcrumb li.nosubtitle {
  padding-right: 10px;
  border: 1px solid #cdcdcd;
}

.solvvy_title .solvvy_source {
    line-height: 18px;
    color: darkgray;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    clear: both;
    margin-top: -4px;
}

#solvvy_found_text::focus {
  outline:none;
}
.solvvy_widget .solvvy_img img {
  height: auto;
 /* width: 90%;*/
  margin-right: 10px;
  margin-top: 10px;
}

.solvvy_widget .solvvy_result .solvvy_feedback {
  float: right;    
  width: 80px;
  padding: 2px;
  margin: 20px 15px 0 0;
  position: relative;
}

.solvvy_widget .solvvy_result .sticky_top {
  right: 0;
  float: right;
  margin-top: 2px;
  width: 83px;
  margin-right: 20px;
  z-index: 16;
  position: relative;
}
.solvvy_widget .solvvy_result .solvvy_feedback div{
  font-size:12px; 
  letter-spacing:0.4px; 
  color:#555
}

#solvvy_float_widget ul {
  list-style-type: none;
}

.solvvy_widget .solvvy_result .solvvy_feedback ul {  
  margin-left: -30px;
  margin-top: 2px;
  font-size: 15px
}

.solvvy_widget .solvvy_result .solvvy_feedback li {
  margin-bottom: 10px;
  padding-right: 12px;
  float:left;
}

#solvvy_float_widget .solvvy_footer {
  color: rgba(255,255,255,.5);
  background: #208bcb;
  padding: 5px 15px;
}

#solvvy_float_widget .solvvy_footer span:first-child {
  font-size: 18px; 
}
/*#solvvy_float_widget .solvvy_footer span:nth-child(2) {
  color: rgba(255,255,255,1); 
}*/

#solvvy_float_widget .solvvy_footer .solvvy_powered-by {
  float:right;
}

#solvvy_float_widget .solvvy_footer .solvvy_powered-by span{  
  font-size: 16px; 
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding-left: 5px;
}

#solvvy_float_widget .solvvy_footer .solvvy_contact-container {
  float: left;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-left: 8px;
  margin-right: 10px;
}

#solvvy_float_widget .solvvy_footer .solvvy_contact-container .solvvy_contact-link,
#solvvy_float_widget .solvvy_footer .solvvy_contact-container .solvvy_contact-link:link,
#solvvy_float_widget .solvvy_footer .solvvy_contact-container .solvvy_contact-link:hover,
#solvvy_float_widget .solvvy_footer .solvvy_contact-container .solvvy_contact-link:visited {
  color: white;
}

.solvvy_widget .solvvy_result .solvvy_feedback a i {
  color: darkgray;
  width: 20px;
  height: 16px;
}

.solvvy_widget .solvvy_result .solvvy_feedback .fa-thumbs-up {
  color: lightgreen;
}

.solvvy_widget .solvvy_result .solvvy_feedback .fa-thumbs-down {
  color: lightcoral;
}

.solvvy_widget .sugg-type {
  color: gray;
  text-align: center;
  background-color: #efF2F2;
  /*padding-left: 5px;*/
  padding-top: 3px;
  padding-bottom: 3px;
}

.solvvy_widget .typeahead {
  background-color: #fff;
}

.solvvy_widget .typeahead:focus {
  border: 2px solid rgb(0, 176, 226);
}

/*.solvvy_widget .solvvy_query.tt-input {*/
  /*width: 134%;*/
/*}*/

.solvvy_widget .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

.solvvy_widget .tt-hint {
  color: rgba(0, 0, 0,.6);
}

.solvvy_widget .tt-dropdown-menu {
  width: 100%;
  /*margin-top: px;*/
  /*margin-left:48px;*/
  padding: 5px 0;
  background-color: #ededed;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px 2px 4px 4px;
  -moz-border-radius: 2px 2px 4px 4px;
  border-radius:  2px 2px 4px 4px;
  -webkit-box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
  box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
  max-height: 300px;
  overflow-y: auto;
}


.solvvy_widget .tt-suggestion:hover .solvvy_keyword, .solvvy_widget .tt-suggestion:focus .solvvy_keyword, .solvvy_widget .tt-suggestion:active .solvvy_keyword{
  color:#fff !important;
}

.solvvy_widget .tt-suggestion .solvvy_keyword{
  color:#333;
}

.solvvy_widget .tt-suggestion {
  padding: 8px 30px;
  line-height: 20px;
  color: #333;
  cursor: pointer;
}
.solvvy_widget .tt-suggestion:nth-child(odd){
  background-color: #eeeeee;
}
.solvvy_widget .tt-suggestion:nth-child(even){
  background-color: #e2e2e2;
}

.solvvy_widget .tt-suggestion.tt-cursor {
  color: white;
  background-color: rgb(0, 176, 226);
}

.solvvy_widget .tt-suggestion p {
  margin: 0;
}

#solvvy_inplace_widget .solvvy_query_wrapper {
  overflow: hidden;
  height: 50px;
}

#solvvy_inplace_widget .solvvy_query {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #555;
  /*background-color: #fff;*/
  /*background-image: none;*/
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  height: 46px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 6px;
}

#solvvy_inplace_widget .solvvy_search {
  float: right;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 1.3333333;
  border-radius: 6px;
  background-color: #006989;
  color: #cecece;
  margin-left: 10px;
  text-transform: uppercase;
}

#solvvy_inplace_widget .solvvy_search[disabled] {
  background-color: #337ab7;
  border-color: #2e6da4;
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

#solvvy_inplace_widget .solvvy_search:hover {
  background-color: #005872;
  color: #cecece;
}

#solvvy_inplace_widget .solvvy_results {
  margin-top: 20px;
}

#solvvy_float_widget .solvvy_result ul.steps {
    padding: 0;
}

.solvvy_load_more {
    text-align: center;
    margin-bottom: 20px;
}

.solvvy_initial_loading{
    height: 400px;
}
.solvvy_step_content {  
  padding-bottom: 20px;
  margin-top: 20px;
  box-shadow: 22px 24px 3px -24px #e2e2e2;
  float: left;
}


#solvvy_inplace_widget .solvvy_content ul.solvvy_steps {
    padding: 0;
}
#solvvy_inplace_widget .solvvy_content ul.solvvy_steps > li {
    margin-bottom: 20px;
    clear: left;
}
#solvvy_inplace_widget .solvvy_content ul.solvvy_steps > li:last-child {
    margin-bottom: 0;
}
#solvvy_inplace_widget .solvvy_content .solvvy_step_content {
    white-space: pre-wrap;
}


/**Krishna's css just for initial setup and work*/
#sw_container {
  position:fixed; left:0px; top:10%
}
#sw_button img{
  width:50px;
}
.solvvy_widget_icon {
 position: absolute;
 right: -90px;
 cursor:pointer;
}

#reset_search_box{
  background-color: transparent;
  background: url('close.png') no-repeat center center;
  height: 16px;
  width: 16px;
  border: none;
  cursor: pointer;
  float: right;
  margin: 15px 20px 15px 0;
}

input[type="text"]:invalid + input[type="reset"]{
     display: none;
}

#left_arrow:hover, #left_arrow:focus, #left_arrow:active{
  cursor:pointer !important;
}

.solvvy_content_container #solvvy_content_img {
  display: inline-block;
  vertical-align: top;
  width: 390px;
}
.solvvy_content_container .solvvy_img_side {
  width: 25%;
  margin-left: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.solvvy_result-body .solvvy_content_container{
  display:block;
  margin-right: 20px;
}

.solvvy_result-body .solvvy_content_container, .solvvy_widget .solvvy_result .solvvy_title{
  width: 560px;
}

.solvvy_widget .solvvy_title a,
.solvvy_widget .solvvy_title a:link,
.solvvy_widget .solvvy_title a:hover,
.solvvy_widget .solvvy_title a:visited {
  color: rgb(14, 148, 196);
  font-weight: 300;
}

.solvvy_widget .solvvy_result .solvvy_title {
  margin: 15px 0px 5px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  clear: both;
  float: left;
}
.solvvy_widget .solvvy_result .solvvy_title a{
  display: block;
  width: 100%;
}
.solvvy_widget .solvvy_result .solvvy_title .solvvy_found_text{
  color: rgb(14, 148, 196);
  font-weight: 500;
  padding: 3px 10px 0 0;
  float: left;

}

.solvvy_widget .solvvy_title .solvvy_subtitle_part {
    max-width: 55%;
}
.solvvy_video_content .solvvy_content {
    width: 620px;
}

/* Breadcrumb */

.solvvy_widget  .breadcrumb {
    list-style: none;
    font-size: 12px;
    float: left;
    padding: 0;
    margin: 0;
}
.solvvy_widget  .breadcrumb li {
  background: #fff;
  padding: 3px 5px 4px 13px;
  position: relative;
  display: block;
  float: left;
  border:1px solid #cdcdcd;
  
}
.solvvy_widget .breadcrumb li:first-child{
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  }

.solvvy_widget  .breadcrumb li:not(:last-child)::after, .breadcrumb li:not(:last-child)::before {
    content:" ";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 100%;
}
.solvvy_widget  .breadcrumb li:after {
    z-index: 2;
}
.solvvy_widget .breadcrumb li:not(:last-child)::before {
    border-left-color: #555;
    margin-left: 1px;
    z-index: 1;
}
.solvvy_widget .breadcrumb li:last-child::after{
  position: relative;
  border-top:
  display: block;
  float: left;
  
}
.solvvy_widget .breadcrumb li:last-child{
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border: 1px solid rgba(0,0,0,0.5);
}

.solvvy_widget .solvvy_steps{
  width: 560px;
  margin-top: 20px;
  float: left;

}

.solvvy_step {
  margin: 10px 0;
}
.solvvy_step_img {
  width: 25%;
  margin-left: 20px;
  float: left;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
.solvvy_step_count{
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
  float: left;
}

.Stepwise_heading{
  margin-top: -7px;
    font-size: 18px;
    padding-top: 1px;
}

.solvvy_step_detail{
  width: 465px;
  margin-left: 20px;
  float: left;
}
.solvvy_step_detail_with_img{
  width: 350px;
  float: left;
  margin-left: 20px;
}

.solvvy_widget .breadcrumb div {
 text-overflow: ellipsis;
 overflow: hidden;
 max-width: 280px;
 margin-left: -4px;
}
.solvvy_widget .breadcrumb, .solvvy_widget .breadcrumb li .solvvy_keyword{
  color: rgba(0,0,0,.5);
}
.solvvy_widget .breadcrumb li .solvvy_keyword {
  font-weight: 700; 
}

.solvvy_widget .breadcrumb li:nth-child(2) div {
 max-width: 172px;
 margin-left: 6px;
}
.solvvy_title .breadcrumb li:nth-child(1){
  color:#888 !important;
}

#solvvy_results_count{
  position: absolute;
    right: 60px;
    top: 15px;
    color: #999;
    /* float: right; */
    font-size: 13px;
    letter-spacing: 1px;
}
.solvvy_widget .twitter-typeahead{
  width:85% !important;
}
.solvvy_widget input[type=text]::-ms-clear{
  display: none;
  }

.solvvy_widget input[type=password]::-ms-reveal{
  display: none;
  }
  /* Video content */
  
.solvvy_multiple_video_results .solvvy_inner_video_result{
  border-bottom:1px solid #e1e2e2;
  padding-bottom:15px;
  padding-top:10px;
  float: left;
  width: 100%;
  clear: both;
}

.solvvy_multiple_video_results .solvvy_inner_video_result .v-align-center{
  position:relative;
  display:block;
}
.solvvy_multiple_video_results .solvvy_inner_video_result .solvvy_timestamp_link a{
  font-weight:bold;
  color:#23a3c7 !important;
}
.solvvy_multiple_video_results .solvvy_inner_video_result .solvvy_result_content{
  width: 450px;
  float: left;
}
.solvvy_multiple_video_results .solvvy_inner_video_result .solvvy_timestamp_link{
  float: left;
  margin: 30px 20px;
}
.solvvy_multiple_video_results{
  margin-left:35px;
}

.solvvy_content.solvvy_video {
  padding: 10px 80px 5px 16px !important;
}

.solvvy_video_title {
  float: left;
  font-size: 16px;
  margin-top: 20px;
}
.solvvy_see_toggle a{
  color:#23a3c7 !important;
}
.v_more_result, .solvvy_see_toggle_less {
  display: none;
}
.solvvy_video_title > .solvvy_bold {
  font-weight: bolder;
}
div.solvvy_inner_video_result:nth-child(n+3) {
  display: none;
}
.show_more div.solvvy_inner_video_result:nth-child(n+3) {
  display: block;
}
.solvvy_widget .toggleShowMore {
  font-size: 16px;
  color: #23a3c7;
  font-weight: bold;
  cursor: pointer;
  float: left;
  margin-top: 10px;
}

.magictime {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideRight {
  -webkit-animation-name: slideRight;
  animation-name: slideRight;
}

.slideRightRetourn {
  -webkit-animation-name: slideRightRetourn;
  animation-name: slideRightRetourn;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(789px);
  }
}
@keyframes slideRight {
  0% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(789px);
  }
}

@-webkit-keyframes slideRightRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}
@keyframes slideRightRetourn {
  0% {
    transform-origin: 0 0;
    transform: translateX(100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}
